<!DOCTYPE html>
<html layout:decorate="Layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/403_style.css" rel="stylesheet">
    <link href="/css/appColors.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div id="app">
        <div>403</div>
        <div class="txt">
            Access Denied<span class="blink">_</span>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</div>
</body>
</html>