<!DOCTYPE html>
<html layout:decorate="Layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/appColors.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron mx-5" style="background-color: var(--lightGreen)">
                    <h2 class="mb-3">
                        Welcome to <b>Fresh-Mart</b>!
                    </h2>
                    <p class="my-4">
                        Discover fresh produce, quality groceries, and unbeatable deals. Shop with us online or visit our stores for a delightful shopping experience. Start exploring now!
                    </p>
                    <p class="mt-5">
                        <a class="btn btn-large" style="background-color:var(--darkGreen);color:var(--myWhite)" href="#">View Products</a>
                    </p>
                </div>
                <div class="my-2 mx-5">
                    <h4 class="card-title">
                        Browse by category
                    </h4>
                    <a class="card-subtitle mb-2 text-muted" href="home.html">All categories ></a>
                </div>

                <div class="row mx-5 justify-content-center" >
                    <div class="col-md mt-5 text-center">
                        <div class="category-card" style="background-color: var(--myWhite)" >
                            <a href="#">
                                <img src="/images/fruits.svg" height="60%" width="60%" class="my-3">
                                <h6 class="card-subtitle mt-2">Fruits</h6>
                            </a>
                        </div>
                    </div>
                    <div class="col-md mt-5 text-center">
                        <div class="category-card" style="background-color: var(--myWhite)" >
                            <a href="#">
                                <img src="/images/wine.svg" height="60%" width="60%" class="my-3">
                                <h6 class="card-subtitle mt-2">Wine</h6>
                            </a>
                        </div>
                    </div>
                    <div class="col-md mt-5 text-center">
                        <div class="category-card" style="background-color: var(--myWhite)" >
                            <a href="#">
                                <img src="/images/pasta.svg" height="60%" width="60%" class="my-3">
                                <h6 class="card-subtitle mt-2">Pasta</h6>
                            </a>
                        </div>
                    </div>
                    <div class="col-md mt-5 text-center">
                        <div class="category-card" style="background-color: var(--myWhite)" >
                            <a href="#">
                                <img src="/images/meat.svg" height="60%" width="60%" class="my-3">
                                <h6 class="card-subtitle mt-2">Meat</h6>
                            </a>
                        </div>
                    </div>
                    <div class="col-md mt-5 text-center">
                        <div class="category-card" style="background-color: var(--myWhite)" >
                            <a href="#">
                                <img src="/images/vegetables.svg" height="60%" width="60%" class="my-3">
                                <h6 class="card-subtitle mt-2">Vegetables</h6>
                            </a>
                        </div>
                    </div>
                    <div class="col-md  mt-5 text-center">
                        <div class="category-card" style="background-color: var(--myWhite)" >
                            <a href="#">
                                <img src="/images/cookies.svg" height="60%" width="60%" class="my-3">
                                <h6 class="card-subtitle mt-2">Sweets</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/popper.min.js"></script>
</div>
</body>
</html>