<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Supermarket - Home</title>
    <link href="css/style.css" rel="stylesheet">

</head>
<header>
    <h1>Welcome to Supermarket</h1>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <h2>This week's Offers!</h2>
        <p>ALFA | Πίτσα Μαργαρίτα Κατεψυγμένη 2 Τεμάχια 730gr </p>
        <p>NESCAFE | GOLD | Στιγμιαίος Καφές Cappuccino 10x14gr</p>

    </section>

    <section>
        <h2>Featured Products</h2>
        <div class="product">
            <img src="https://static.ab.gr/medias/sys_master/h32/h1b/9429008842782.jpg?buildNumber=8bed5efd7d487a83de3cd2e944d9a9d4ca9c2cd7de3ad32e6aff75df2694a4bd" alt="Product 1" style="width: 300px;height: 300px;">
            <h3>ALFA | Πίτσα Μαργαρίτα Κατεψυγμένη 2 Τεμάχια 730gr</h3>
            <p>Μοναδική Ιταλική ζύμη πίτσας, έτοιμη για ψήσιμο με εκλεκτά τυριά που λιώνουν ομοιόμορφα για εκπληκτικό γευστικό αποτέλεσμα. Ήδη ψημένη σε ξυλόφουρνο, έρχεται για να διευκολύνει ακόμα περισσότερο τις καθημερινές σας απολαύσεις αφού είναι έτοιμη για κατανάλωση σε μόλις 6 λεπτά!</p>
            <a href="products.html">Learn More</a>
        </div>

        <div class="product">
            <img src="https://static.ab.gr/medias/sys_master/hab/h19/9688141103134.jpg?buildNumber=8bed5efd7d487a83de3cd2e944d9a9d4ca9c2cd7de3ad32e6aff75df2694a4bd" alt="Product 2" style="width: 300px;height: 300px;">
            <h3>NESCAFE | GOLD | Στιγμιαίος Καφές Cappuccino 10x14gr</h3>
            <p>Ανακαλύψτε τον NESCAFÉ® GOLD Cappuccino! Ένα αρμονικά καβουρδισμένο χαρμάνι καφέδων Arabica και Robusta με λεπτοαλεσμένους κόκους καφέ, μέστο σώμα, βελούδινη κρέμα, και απολαυστική γεύση. Ένας καραμελένιος πειρασμός στο φλιτζάνι σου με πλούσια κρέμα και μοναδικό άρωμα σε έναν καφέ που απογειώνει τις αισθήσεις.</p>
            <a href="products.html">Learn More</a>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2023 Supermarket. All rights reserved.</p>
</footer>
</body>
</html>
