<!DOCTYPE html>
<html layout:decorate="Layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/appColors.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-12 my-5 " style="padding: 10px;background-color: var(--paleGreen); border-radius: 5px;">
                        <h3 class="text-center mt-3">
                                Login
                        </h3>
                        <form role="form" class="mt-5 mx-2" action="" method="post" th:action="@{processLogin}" th:object="${adminModel}" >
                            <div class="form-group">
                                <label for="username">
                                    Username
                                </label>
                                <input th:field="*{username}" type="text" class="form-control" id="username" />
                            </div>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Username error</p>
                            <div class="form-group">
                                <label for="password">
                                    Password
                                </label>
                                <input th:field="*{password}" type="password" class="form-control" id="password" />
                            </div>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Password error</p>

                            <button type="submit" class="btn mt-5 mb-2" style="width:100%;background-color: var(--darkGreen);color:whitesmoke;">
                                Login
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</div>
</body>
</html>