<!DOCTYPE html>
<html layout:decorate="Layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/appColors.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login_customer.css">
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid mb-5">
        <div class="row mb-5 " style="position: relative;">
            <div class="col-md-6 pl-0 mb-0"  >
                <section class="side">
                    <img src="/images/login/girl-with-grocery-bags-and-food.svg">
                </section>
            </div>
            <div class="col-md-6">
            <section class="main">
                    <div class="login-container p-0">
                        <p class="title">Welcome back</p>
                        <p class="welcome-message">Please enter your credentials to login in and continue shopping</p>

                        <form role="form" class="login-form" action="" method="post" th:action="@{processLogin}" th:object="${customerModel}">
                                <div class="form-group">
                                    <label for="username">
                                        Username
                                    </label>
                                    <input th:field="*{username}" type="text" class="form-control" id="username"  minlength="8" maxlength="15" required />
                                </div>
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Username error</p>
                                <div class="form-group">
                                    <label for="password">
                                        Password
                                    </label>
                                    <input th:field="*{password}" type="password" class="form-control" id="password" minlength="8" maxlength="15" required/>
                                </div>
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Password error</p>

                                <div class="form-check">
                                    <label>
                                        <input type="checkbox" /> Stay logged in
                                    </label>
                                </div>
                                <button type="submit" class="btn my-2" style="width:100%;background-color: var(--darkGreen);color:whitesmoke;">
                                    Login
                                </button>
                        </form>
                        <div class="text-center mb-1">
                            Not a member yet? <a href="/auth/customer/register">Sign up</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/popper.min.js"></script>
</div>
</body>
</html>