<!DOCTYPE HTML>
<html layout:decorate="Layouts/defaultLayout">

<body>
<div layout:fragment="content">
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
      <div>
        <label>Please enter your username:</label>
        <p>Username: <input type="text" th:field="*{username}" /></p>
      </div>
      <div>
        <label>Please enter your password:</label>
        <p>Password: <input type="password" th:field="*{password}" /></p>
      </div>
      <div>
        <input type="submit" value="Log in" />
      </div>
</div>

</form>
</body>
</html>