<html>

<head>
    <title>Store Locator</title>
</head>

<!-- The div to hold the map -->
<html layout:decorate="Layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/appColors.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/map.css" rel="stylesheet">

</head>
<body>
    <div layout:fragment="content" style="margin-top: 3%" id="map-div">
        <div class="card hidden" id="container">
            <h5 style="margin: 15px">Βάσει της δοθείσας τοποθεσίας εντοπίσαμε τα παρακάτω καταστήματα:</h5>
            <div style="max-height: 625px; overflow-y:scroll; overflow-x: hidden;">
                <div id="panel" class="cards" ></div>
            </div>
        </div>
        <div style="min-width: 1280px;">
            <h3 style="text-align: center">Βρείτε στον χάρτη μας τα κοντινότερα σούπερμάρκετ</h3>
            <br>
            <div id="map"></div>
        </div>
        <script src="../js/map.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk0_KmOAhS1U750lFVSdtztglJjVAhGFg&libraries=places&callback=initMap&solution_channel=GMP_codelabs_simplestorelocator_v1_a"></script>
    </div>
</body>

</html>