<!DOCTYPE html>
<html layout:decorate="Layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/appColors.css" rel="stylesheet">
  <link href="/css/register_customer.css" rel="stylesheet">
  <title>Register</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container-fluid">
    <div class="row my-5">
      <div class="col-md-6 d-flex justify-content-center">
        <img src="/images/register/online-grocery-shopping.svg" style="width: 70%;max-width: 70%;">
      </div>
      <div class="col-md-6 d-flex justify-content-center">
          <div>
            <p class="title">Create your account</p>
            <p class="welcome-message">Unlock exclusive deals and convenience by signing up today</p>
            <form role="form" class="login-form" action="" method="post" th:action="@{processRegister}" th:object="${customerModel}">
              <div class="m-3">
                <div class="form-group row">
                  <label class="col-4 col-form-label">Username </label>
                  <div class="col-8">
                    <input type="text" th:field="*{username}" class="form-control" required  minlength="5" maxlength="15"/>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4 col-form-label">Password </label>
                  <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                           required minlength="8" maxlength="15"/>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4 col-form-label">E-mail</label>
                  <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4 col-form-label">Phone number </label>
                  <div class="col-8">
                    <input type="tel" th:field="*{phone}" class="form-control" pattern="^(?:\+30|0030|0)?\s*[67]\d{9}$"/>
                    <small>Format: 69xxxxxxxx or 21xxxxxxxx</small>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4 col-form-label">First Name</label>
                  <div class="col-8">
                    <input type="text" th:field="*{firstname}" class="form-control"
                           required minlength="2" maxlength="30"/>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4 col-form-label">Last Name: </label>
                  <div class="col-8">
                    <input type="text" th:field="*{lastname}" class="form-control"
                           required minlength="2" maxlength="20" />
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn mt-2 " style="background-color: var(--darkGreen);color:whitesmoke;">Sign up</button>
                </div>
              </div>
            </form>
            <div class="text-center">
              Already have an account? <a href="/auth/customer/login">Log in</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>