/* this card is inspired form this - https://georgefrancis.dev/ */

.card {
    --border-radius: 0.75rem;
    --primary-color: #5bc0de;
    --secondary-color: #3c3852;
    width: 210px;
    font-family: "Arial";
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
}



.card .card__content {
    color: var(--secondary-color);
    font-size: 2em;
}

.card .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.card .card__date {
    color: #6e6b80;
    font-size: 0.8rem;
}

.card .card__arrow {
    position: absolute;
    background: var(--primary-color);
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card svg {
    transition: 0.2s;
}

/* hover */
.card:hover .card__title {
    color: var(--primary-color);
    text-decoration: underline;
}

.card:hover .card__arrow {
    background: #111;
    color: white;
}

.card:hover .card__arrow svg {
    transform: translateX(3px);
}