* {
    box-sizing: border-box;
    color: #303433;
}

body {
    min-height: 100vh;
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.side {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
section.main{
    font-family: 'Montserrat', sans-serif;
}
.side img {
    width: 45%;
    max-width: 45%;
}

.login-container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
.welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    color: #696969;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

a:visited {
    color:var(--darkGreen);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
