@import "appColors.css";
.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: #696969;
}

a:visited {
    color:var(--darkGreen);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
