/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #333333;
    font-size: 28px;
    margin: 0;
}
nav{
    margin-bottom:1%;
    margin-top: 1%;
}
.product{
    margin-bottom:2%;
    margin-top: 2%;
}

/* Main Content Styles */

main {
    background-color: #f9f9f9;
    padding: 20px;
}

section h2 {
    color: #333333;
    font-size: 24px;
    margin: 0 0 20px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #95d6e9;
    color: black;
    text-align: center;
    position: fixed;
}

#centerPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rounded-outline {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 50%;
}

.cart-number-input {
    display: flex;
    align-items: center;
}

.cart-number-input input {
    width: 100px;
    text-align: center;
}

.cart-number-input button {
    width: 40px;
    height: 40px;
    padding: 3px;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
}

.cart-number-input button:disabled {
    background-color: #ddd !important;
    cursor: not-allowed;
}

