<link type="text/css" href="/css/bootstrap.min.css" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="header">
  <!-- Nav Bar -->
  <div>
    <div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light" style="margin-top: 0; padding-top:16px">
          <a class="navbar-brand" style="height:43px" href="/home">Fresh-Mart</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" style="height: 43px;" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                  <a class="dropdown-item" href="/products?type=fruit">Fruits</a>
                  <a class="dropdown-item" href="/products?type=pasta">Pasta</a>
                  <a class="dropdown-item" href="/products?type=vegetables">Vegetables</a>
                  <a class="dropdown-item"href="/products?type=dairy">Dairy</a>
                  <a class="dropdown-item"href="/products?type=meat">Meat</a>
                  <a class="dropdown-item" href="/products?type=sweets">Sweets</a>
                  <a class="dropdown-item" href="/products?type=liquor">Liquor</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/map">Shops</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" onclick="showCart()" href="#" id="cart-button"><span id="totalAmount">0.00</span>€
                  <img src="/images/global/cart.svg" style="width: 25px; height: 25px;">
                </a>
              </li>
              <li th:ref="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:text="'Login'" th:href="@{/login}"/>
              </li>
              <li th:ref="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:text="'Sign Up'" th:href="@{/register}"/>
              </li>
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <p class="navbar-text mr-3" style="color: var(--myGray); margin: 0;" sec:authentication="name">Username</p>
              </li>
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="navbar-text mr-3" href="#"><img class="img-thumbnail rounded-circle" style="width: 30px; height: 30px;" src="/images/home/profile.jpg"></a>
              </li>

              <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                <input type="submit" value="Logout" />
              </form>
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
              </li>

              <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="logoutModalLabel">Logout Confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to log out of your profile?</p>
                    </div>
                    <div class="modal-footer">
                      <a class="nav-link" href="#" data-dismiss="modal">Cancel</a>
                      
                      <a class="nav-link" href="javascript: document.logoutForm.submit()">Logout</a>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </nav>
    </div>
    <div class="cart-card" id="shopping-cart">
          <div class="cart-header">
              <span class="cart-icon">
                <img src="/images/global/cart.svg" style="width: 15px; height: 15px;">
              </span>
              <p class="cart-alert"> Cart</p>
            <i class="fa fa-close" style="position:fixed;right:7%;" onclick="hideCart()"></i>

          </div>
          <div  id="shopping-cart-body">
                <!-- Cart items will be displayed here -->
                <div id="cart-items">
                  <p class="cart-message" id="cart-message">
                    Your cart is empty.
                  </p>
                </div>
                <table class="table table-borderless" id="shopping-cart-table">
                  <tbody id="shopping-cart-tablebody">
                  </tbody>
                </table>
            <div id="total-price-cart"></div>
                <div style="margin:auto;" class="cart-actions" id="cart-actions">
                  <a class="cart-read" href="/products" id="cart-read">
                    Start shopping!
                  </a>
                </div>
          </div>
    </div>
  </div>
  <script>
    function showCart() {
      let x = document.getElementById("shopping-cart");
      if (x.style.display === "none") {
        // Fetch cart items using cart controller
        fetchCartItems();
        x.style.display = "inline";
      } else {
        x.style.display = "none";
      }
    }
    function hideCart(){
      let x = document.getElementById("shopping-cart");
      if (x.style.display === "inline") {
        x.style.display = "none";
      }
    }
    function fetchCartItems(){
      fetch('/cart/view')
              .then(response => response.json())
              .then(data => {
                console.log(JSON.stringify(data))
                // Process the retrieved data
                displayCartItems(data);
              })
              .catch(error => console.error(error));
    }
    function displayCartItems(cartItems) {
      // Access the product-container element
      //const productList = document.getElementById('product-list');
      if(cartItems==null){
        document.getElementById('cart-items').style.display='block';
        document.getElementById('shopping-cart-table').style.display='none';
      }
      else {

        document.getElementById('cart-items').style.display='none';
        document.getElementById('shopping-cart-table').style.display='block';

        const tableContainer = document.getElementById('shopping-cart-tablebody');
        // Create HTML markup for each product
        const productTableHTML = cartItems.map(cartItem => `
            <tr>
                <td>
                <img src="${cartItem.imageSource}" alt="${cartItem.name}" width="50px">
                </td>
                <td style="max-width: 40%;">${cartItem.name}</td>
                <td>${cartItem.quantity} piece(s)</td>
                <td>
                <div class="cart-number-input" id="cart-number-input-${cartItem.id}">
                <button id="cart-minusButton-${cartItem.id}" style="background-color: #d41d36; margin-right: 5px" onclick="cartdecrementNumber('${cartItem.id}', ${cartItem.maxStock})">-</button>
                <input id="cart-quantity-input-${cartItem.id}" class="cart-quantity-input" type="number" value="${cartItem.quantity}" min="1" max="${cartItem.maxStock}" oninput="cartvalidateRange(${cartItem.id}, ${cartItem.maxStock}); checkQuantityChanges();" data-item-id="${cartItem.id}" data-original-quantity="${cartItem.quantity}">
                <button id="cart-plusButton-${cartItem.id}" style="background-color: #6a8f65; margin-left: 5px" onclick="cartincrementNumber('${cartItem.id}', ${cartItem.maxStock})">+</button>
                </div>
                </td>
            </tr>
        `).join('');

        tableContainer.innerHTML = productTableHTML;
        const containerLink=document.getElementById('cart-actions');//change link

        containerLink.innerHTML = "<a class=\"cart-read\" href=\"/order\" id=\"cart-read\">" +
                  "Continue to payment" +
                  "</a>"

        let totalPrice=calculateTotalPrice(cartItems).toFixed(2);
        const totalPriceContainer=document.getElementById('total-price-cart');
        totalPriceContainer.innerText='Total price is: '+totalPrice+'€';

      }
    }

    function calculateTotalPrice(cartItems){
      let totalPrice=0;
      for (const item of cartItems) {
        const price = parseFloat(item.price);
        const quantity = item.quantity;
        totalPrice += price * quantity;
      }
      return totalPrice;
    }

    function cartvalidateRange(itemId, maxStock) {
      const numberInput = document.getElementById(`cart-quantity-input-${itemId}`);
      const minusButton = document.getElementById(`cart-minusButton-${itemId}`);
      const plusButton = document.getElementById(`cart-plusButton-${itemId}`);

      const value = parseInt(numberInput.value);

      if (value === 1) {
        minusButton.disabled = true;
        plusButton.disabled = false;
      } else if (value === maxStock) {
        minusButton.disabled = false;
        plusButton.disabled = true;
      } else {
        minusButton.disabled = false;
        plusButton.disabled = false;
      }
    }

    function cartdecrementNumber(itemId, maxStock) {
      const numberInput = document.getElementById(`cart-quantity-input-${itemId}`);
      const currentValue = parseInt(numberInput.value);

      if (currentValue > 1) {
        numberInput.value = currentValue - 1;
        cartvalidateRange(itemId, maxStock);
        checkQuantityChanges(); // Call the function to check for changes

      }
    }

    function cartincrementNumber(itemId, maxStock) {
      const numberInput = document.getElementById(`cart-quantity-input-${itemId}`);
      const currentValue = parseInt(numberInput.value);

      if (currentValue < maxStock) {
        numberInput.value = currentValue + 1;
        cartvalidateRange(itemId, maxStock);
        checkQuantityChanges(); // Call the function to check for changes
      }
    }

    function checkQuantityChanges() {
      const cartItems = document.getElementsByClassName("cart-quantity-input");
      let containerLink = document.getElementById("cart-actions");
      let changesDetected = false;

      for (const cartItem of cartItems) {
        const itemId = cartItem.getAttribute("data-item-id");
        const originalQuantity = parseInt(cartItem.getAttribute("data-original-quantity"));
        const currentQuantity = parseInt(document.getElementById(`cart-quantity-input-${itemId}`).value);


        if (originalQuantity !== currentQuantity) {
          changesDetected = true;
          break; // Exit the loop if any change is detected
        }
      }

      // Enable or disable the update button based on whether changes are detected
      if (changesDetected) {
        containerLink.innerHTML ="<a class=\"cart-read\" href=\"/payment\" id=\"cart-read\">" +
                "Continue to payment" +
                "</a>"+
                "<a class=\"cart-mark-as-read\" id=\"update-button\" href=\"#\" onclick=\"updateCart()\">" +
                "Update cart</a>\n";
      } else {
        containerLink.innerHTML="<a class=\"cart-read\" href=\"/payment\" id=\"cart-read\">" +
                "Continue to payment" +
                "</a>";
      }
    }

    function updateCart() {
      const cartItems = document.querySelectorAll('.cart-quantity-input');
      const updatedCart = [];

      for (const item of cartItems) {
        const itemId = item.dataset.itemId;
        const quantity = parseInt(item.value);

        updatedCart.push({ id: itemId, quantity });
      }
      console.log(updatedCart);
      // Make a POST request to update the cart on the backend
      fetch('/cart/update', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(updatedCart),
      })

    }
  </script>
</div>



